@inject HttpClient Http
@inject ISessionService SessionService
@using Core.DTOs
@using BlazorApp.Services

<div class="container d-flex justify-content-center" style="min-height: 80vh">
    <!-- Bootstrap form in het midden van het scherm -->
    <div class="col-md-6">
        <h2 class="text-center mb-4 text-dark">Login</h2>

        <div class="mb-3">
            <label for="Username" class="form-label w-100 text-center text-dark">Voer gebruikersnaam in:</label>
            <InputText @bind-Value="UserName" type="text"  class="form-control"/>



        </div>
        <button @onclick="() => SubmitLogin()" class="btn btn-primary w-100">Inloggen</button>

    </div>
</div

@code
{
    private string UserName = string.Empty;

    [Parameter] public CustomerDTO CurrentCustomer { get; set; }


    private async Task SubmitLogin()
    {
        if (!string.IsNullOrEmpty(UserName))
        {
            //TODO: Login
            var response = await Http.PostAsJsonAsync("/api/user/login", UserName);
            if (response.IsSuccessStatusCode)
            {
                //TODO: Redirect
                CustomerDTO? userInfo = await response.Content.ReadFromJsonAsync<CustomerDTO>();
                if (userInfo != null)
                {
                     CurrentCustomer = userInfo;
                    // Proceed with userInfo
                    SessionService.CurrentCustomer = userInfo;
                    //reload home
                    StateHasChanged();
                    

                 }
                 else
                 {
                     // Handle null case
                 }

            }
            else
            {
                //TODO: Error

            }

        }
        else
        {
            //TODO: Error

        }

    }
}
