@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
         @foreach (string product in Model.Producten)
        {
            <tr>
                <td scope="row">@product</td>
                
            </tr>
        }
   
    </div>
    </div>
