@page "/"
@inject HttpClient Http
@inject ISessionService SessionService
@using Core.DTOs
@using Core.Enum
@using BlazorApp.Services

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4 fw-light mb-2">Bikepacking Webshop</h1>
    <h3>Welkom </h3>

    @if (SessionService.CurrentCustomer == null)
    {
        <LoginComponent OnUserNameChange="UserLoggedIn" />
    }
    else
    {
        <ShowProductsComponent />
    }

</div>

@code
{
    private void UserLoggedIn(CustomerDTO customerDTO)
    {
        //No data needed. Without this wil not work

    }

}
