@page "/products"
@inject HttpClient Http
@using Core.DTOs

<ul>
    @foreach (ProductDTO product in products)
    {
        <li>@product.Name</li>
    }
</ul>



@code
{

    private List<ProductDTO>? products;

    protected override async Task OnInitializedAsync()
    {
        // Hiermee maak je de GET-aanroep naar de API
        products = await Http.GetFromJsonAsync<List<ProductDTO>>("api/products");
    }

}